/* TrustySignupPage.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.trusty-signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #fefeff, #eef0f3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.details {
  background-color:#2f22ee;
  padding: 20px 10px;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  width: 550px;
}

.details h1 {
  text-align: center;
  margin-bottom: 30px;
  color:rgb(241, 234, 234);
  font-size: 28px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.details p {
  text-align: center;
  margin-bottom: 20px;
  color: #f7f8fa;
  font-size: 16px;
}
.details label {
  display: block;
  margin-bottom: 4px;
  color: #eaecef;
}


.details input[type="text"],
.details input[type="email"],
.details input[type="password"],
.details input[type="file"] {
  width: 96%;
  padding: 10px 12px;
  margin-bottom: 5px;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  font-size: 14px;
  background-color:white;
  transition: border 0.3s ease;
  color: #4a5568;
}

.details input:focus {
  border-color:blue;
  outline: none;
  background-color:white;
}

.details .btn {
  width: 100%;
  padding: 12px;
  background-color: #3182ce;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
    margin-top: 10px;
}

.details .btn:hover {
  background-color: #eff3f6;
}
