.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f9f4f4;
  width:400px;
  padding:fit-content;

}

.login-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(253, 251, 251, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form .form-control {
  height: 30px; 
  font-size: 14px;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
